
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'

// Fonts
// Open Sans
@font-face
  font-family 'Open Sans'
  font-style sans-serif
  font-weight 400
  src url(webfonts/OpenSans-Regular.ttf)
@font-face
  font-family 'Open Sans'
  font-style sans-serif
  font-weight 300
  src url(webfonts/OpenSans-Light.ttf)
@font-face
  font-family 'Open Sans'
  font-style sans-serif
  font-weight 600
  src url(webfonts/OpenSans-SemiBold.ttf)
@font-face
  font-family 'Open Sans'
  font-style sans-serif
  font-weight 700
  src url(webfonts/OpenSans-Bold.ttf)
// Barlow
@font-face
  font-family 'Barlow'
  font-style sans-serif
  font-weight 100
  src url(webfonts/Barlow-Thin.ttf)
@font-face
  font-family 'Barlow'
  font-style sans-serif
  font-weight 400
  src url(webfonts/Barlow-Regular.ttf)
@font-face
  font-family 'Barlow'
  font-style sans-serif
  font-weight 500
  src url(webfonts/Barlow-Medium.ttf)
// Themify
@font-face
  font-family 'themify'
  src url(webfonts/themify.ttf)

// General
body
  position relative
  font-family 'Open Sans', sans-serif
  font-weight 300
  background-color #FFFFFF
  color #6b6a6a
  margin 0
  line-height 1.9
*, *::before, *::after
  box-sizing border-box
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
  display block
img
  vertical-align middle
  border-style none
  max-width 100%
  height auto
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  position relative
  margin-bottom .5rem
  font-family 'Barlow', sans-serif
  font-weight 400
  line-height 1.5
  color #323d47
  letter-spacing .5px
h1
  font-weight 100
h1, .h1
  font-size 2.57813rem
default:focus
  color #5c5c5c !important
a
  color #116cff

// Links
a
  color #50a1ff
  transition .2s linear
a:hover, a:focus
  color #50a1ff
  text-decoration none
  outline 0

// Button
.btn
  display inline-block
  font-weight 600
  text-align center
  white-space nowrap
  vertical-align middle
  -moz-user-select none
  -ms-user-select none
  user-select none
  border 1px solid transparent
  padding 8px 26px 6px
  font-size 11px
  line-height 1.9
  border-radius 2px
  letter-spacing 1.7px
  text-transform uppercase
  transition color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
.btn:not(:disabled):not(.disabled)
  cursor pointer
.btn:hover, .btn:focus
  text-decoration none
.btn-sm,
.btn-group-sm > .btn,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn
  line-height 1.5
  border-radius .125rem
  padding-top 8px
  padding-right 20px
  padding-bottom 6px
  padding-left 20px
  font-size 11px
.btn-lg,
.btn-group-lg > .btn,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn
  line-height 2.2
  padding 7px 32px 6px
  font-size 12px
.btn-round
  border-radius 10rem
.btn-success
  color #fff
  background-color #3cd458
  border-color #3cd458
.btn-success:focus,
.btn-success.focus
  color #fff
  box-shadow 0 0 0 0 rgba(60,212,88,0.5)
.btn-info
  color #fff
  background-color #885be4
  border-color #885be4
.btn-info:hover
  background-color #5b39a2
  border-color #5b39a2
.btn-info:focus,
.btn-info.focus
  color #fff
  box-shadow 0 0 0 0 rgba(146,109,222,0.5)
.btn-primary
  color #fff
  background-color #266aff
  border-color #266aff
.btn-primary:focus,
.btn-primary.focus
  color #fff
  box-shadow 0 0 0 0 rgba(80,161,255,0.5)

// Navbar
.navbar
  position relative
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
  padding .5rem 1rem
.navbar
  position absolute
  top 10px
  left 0
  right 0
  z-index 1000
  transition transform .3s ease-out, background-color .3s ease-out
  padding-top 0
  padding-bottom 0
  min-height 56px
.navbar-mobile
  display flex
  align-items center
  width 100%
.nav-navbar > .nav-item > .nav-link,
.nav-navbar > .nav-link
  line-height 56px
  padding-top 0
  padding-bottom 0
.navbar-dark .navbar-divider,
.navbar-stick-dark.stick .navbar-divider
  background-color rgba(117,117,117,0.8)
.navbar-divider
  display inline-block
  height 16px
  width 1px
  background-color #fff
  margin 0 1rem
  opacity .15
.nav
  display flex
  flex-wrap wrap
  padding-left 0
  margin-bottom 0
  list-style none
.nav-navbar
  position relative
.nav-navbar .nav-link
  font-weight 600
  letter-spacing 1px
  font-size .87em
  word-spacing 2px
  padding-left 1.125rem
  padding-right 1.125rem
.nav-navbar .default-item .nav-link
  text-transform uppercase
.navbar-dark .nav-navbar > .nav-item > .nav-link,
.navbar-dark .nav-navbar > .nav-link,
.navbar-stick-dark.stick .nav-navbar > .nav-item > .nav-link,
.navbar-stick-dark.stick .nav-navbar > .nav-link
  color rgba(117,117,117,0.8)
.navbar > .container,
.navbar > .container-fluid
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
@media (min-width: 992px)
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid
    flex-wrap nowrap
  .navbar-expand-lg
    flex-flow row nowrap
    justify-content flex-start
@media (max-width: 991.98px)
  .navbar-expand-lg .navbar-mobile
    flex-direction column
    align-items flex-start
    width 300px
    height 100vh
    position fixed
    top 0
    left -300px
    bottom 0
    padding 20px
    background-color #fff
    overflow-y auto
    overflow-x hidden
    transition left .3s ease
    z-index 1002
  .navbar-expand-lg .d-mobile-none
    display none !important
  .navbar-expand-lg .nav-navbar:not(.nav-inline) > .nav-item > .nav-link,
  .navbar-expand-lg .nav-navbar:not(.nav-inline) > .nav-link
    min-height inherit
    line-height inherit
    padding-top .75rem
    padding-bottom .75rem
    font-size .95rem
    text-transform none
  .navbar-expand-lg .navbar-mobile > *
    padding-top 10px
    padding-bottom 10px
  .navbar-expand-lg .navbar-mobile .nav-link:hover
    color rgba(80,80,80,1)
  .navbar-expand-lg .nav-navbar:not(.nav-inline)
    flex-direction column
    flex-wrap nowrap
    width 100%
.navbar-dark .logo-light,
.navbar-stick-dark.stick .logo-light
  display none
.navbar-dark .logo-dark,
.navbar-stick-dark.stick .logo-dark
  display inline-block
.navbar-dark .navbar-brand
  color #fff
.navbar-brand
  display inline-flex
  padding-top 0
  padding-bottom 0
  margin-right 1rem
  font-size 1.0625rem
  line-height inherit
  white-space nowrap
  align-items center
.navbar-brand img
  vertical-align baseline
.navbar-left
  display flex
  align-items center
.navbar-dark .navbar-toggler,
.navbar-dark .btn-menu,
.navbar-stick-dark.stick .navbar-toggler,
.navbar-stick-dark.stick .btn-menu
  color rgba(117,117,117,0.8)
.navbar-toggler,
.btn-menu
  padding .25rem .75rem
  line-height 1
  background-color transparent
  border 1px solid transparent
  border-radius .25rem
  margin-right 1rem
  border 0
  cursor pointer
  font-size 1.5rem
.navbar-toggler:hover
  color rgba(117,117,117,1)
.navbar-toggler:focus
  outline none
.navbar-open .navbar-mobile
  left 0 !important
  box-shadow 2px 0 9px rgba(0,0,0,0.05)
.backdrop
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  height 100vh
  cursor pointer
.backdrop-navbar
  background-color rgba(255,255,255,0.95)
  z-index 1001
.navbar-scrolled [data-navbar="sticky"]
  position fixed
  top 0
  transform translate(0,0)
  background-color rgba(255,255,255,0.99)
  box-shadow 0 1px 9px rgba(0,0,0,0.05)
@media (max-width: 480px)
  #contribute-btn
    display none
@media (min-width: 768px)
  .nav-navbar .nav-item:not(.default-item)
    display none !important

// Sidebar
.sidebar
  position relative
  visibility hidden
  display flex
  flex-direction column
  height 100%
  padding-top 5rem
  padding-bottom 5rem
  z-index 900
  transition .3s ease-out
.nav-sidebar
  flex-direction column
  font-weight 400
.sidebar .nav-sidebar
  height 100%
.nav-sidebar .nav-item
  margin 4px 0
  padding-right 5px
  overflow hidden
  flex-shrink 0
.nav-navbar .nav-item:not(.default-item),
.nav-sidebar-hero > .nav-item
  border-bottom 1px dashed #eaeff4
  padding-top 2px
  padding-bottom 6px
.ps
  overflow hidden !important
  overflow-anchor none
  -ms-overflow-style none
  touch-action auto
  -ms-touch-action auto
.sidebar-body
  position relative
  padding-right 20px
.nav-navbar .nav-angle,
.nav-sidebar .nav-angle
  font-family 'themify'
  font-style normal
  font-size 8px
  display inline-block
  line-height 24px
  transition transform .5s
  color #757575
  position relative
  left 5px
  top 2px
.nav-sidebar .nav-angle::before
  content "\e649"
.nav-sidebar .nav-link.active .nav-angle
  transform rotate(90deg)
.nav-navbar .nav-item:not(.default-item) .nav-link,
.nav-sidebar .nav-link
  display flex
  justify-content space-between
  padding 3px 0
  line-height 1.5
.nav-sidebar-hero > .nav-item > .nav-link
  font-size 1.125rem
  font-weight 400
  padding 8px 0
.nav-navbar .nav,
.nav-sidebar .nav
  flex-direction column
  font-size .875rem
  margin-left 1rem
  flex-wrap nowrap
.nav-sidebar .nav
  margin-top .5rem
  display none
.nav-sidebar-hero .nav
  font-size 1rem
.nav-sidebar-pill .nav
  margin-left .5rem
.nav-sidebar .nav .nav-link
  flex-shrink 0
.nav-sidebar-pill .nav .nav-link
  display table
  border-radius 10rem
  padding 6px 16px
.sidebar-sticky.stick:not(.is-mobile-wide)
  position fixed
  top 0
.nav-sidebar-pill .nav-item > .nav-link.active
  color #50a1ff
.nav-sidebar .nav-link.active
  color #50a1ff
.nav-sidebar-pill .nav .nav-link.active
  background-color rgba(80,161,255,0.1)
.nav-sidebar .nav-link.active + .nav
  display block
@media (max-width: 767.98px)
  .sidebar-expand-md
    position fixed
    top 0
    bottom 0
    left -100%
    padding 1.5rem
    z-index 1001

// Header
#main-header
  background-image linear-gradient(135deg, #f9f7ff 0%, #fff 50%, #f6f3ff 100%)
.header
  position relative
  background-position center
  background-size cover
  background-repeat no-repeat
  padding-top 146px
  padding-bottom 90px
.section-header
  text-align center
  max-width 70%
  margin 0 auto 70px
  small
    display inline-block
    font-size .6875rem
    font-weight 600
    text-transform uppercase
    letter-spacing .75px
    margin-bottom 1.5rem
    word-spacing 2px
    color #737373
  hr
    width 50px
    margin-top 2.5rem
    margin-bottom 1.5rem

// Section
.section
  width 100%
  padding-top 5rem
  padding-bottom 5rem
  position relative
  border-bottom 0
  background-position center center
  background-size cover
  background-repeat no-repeat
.bg-gray
  background-color #fafbfb

// Footer
.footer
  background-color #fcfdfe
  font-size .9375rem
  border-top 1px solid rgba(241,242,243,0.5)
  padding 1.25rem 0
  position relative
  z-index 910
.footer a
  color rgba(0,0,0,0.6)
.nav-link
  display block
  padding .5rem 1rem
  color #757575
  font-weight 400

// Row
.row.gap-y
  margin-top -15px
  margin-bottom -15px
.row.gap-y > .col,
.row.gap-y > [class*="col-"]
  padding-top 15px
  padding-bottom 15px

// Text
.lead
  font-weight 300
  font-size 1.125rem
.lead-7
  font-size 3.04688rem !important
.text-default
  color #757575 !important
.text-lighter
  color #bfc5ca !important

// Margin
.mt-5, .my-5
  margin-top 1.5rem !important
.mb-8, .my-8
  margin-bottom 5rem !important

// Padding
.pb-8, .py-8
  padding-bottom 5rem !important
.pt-8, .py-8
  padding-top 5rem !important
.pl-6, .px-6
  padding-left 2rem !important
.pr-6, .px-6
  padding-right 2rem !important

// Border
.border
  border 1px solid #f1f2f3 !important
.br-1, .border-right-1
  border-right 1px solid #f1f2f3

// Font Weight
.fw-500,
.font-weight-500
  font-weight 500 !important

// Shadow
.shadow-6,
.hover-shadow-6:hover
  box-shadow 0 0 36px rgba(0, 0, 0, 0.06)
.shadow-9,
.hover-shadow-9:hover
  box-shadow 0 0 74px rgba(0, 0, 0, 0.06)

// Card
.card
  border 0
  transition .5s

// RSS
#rss-container
  display flex
  flex-flow row nowrap
  justify-content center

// Post
#post
  hr
    border-top-color rgba(117,117,117,0.09)
    margin 2rem auto
    border-top-style dashed
    margin-bottom 3rem !important
    margin-top 3rem !important
.anchor
  position absolute
  top 0
  right 100%
  opacity 0
  padding-right .5rem
  color #50a1ff
h2 .anchor
  opacity .5
.anchor:hover
  opacity .8

// Table
.table-font-md
  font-size 0.8em
table th
  border-top 1px solid #f1f2f3
table thead th
  background-color #f1f6fa
  font-weight bold
table tbody + tbody
  border-top 1px solid #f1f2f3
table tbody th
  font-weight bold
table tbody tr:first-child th
  background-color #f1f6fa
table tbody td ul
  padding 0 .75em
  margin 0
  margin-left: 0.5em

// Code
figure.highlight
  background-color: #f6f6f6
  border-radius: 3px
  padding: 16px

figure.highlight td.gutter
  display: none

figure.highlight pre
  margin-bottom: 0
